*.o
*.lo
*.la
*.a
*.mk
*.sdf
*.filters
*.user
*.ipch
*.obj
*.ilk
*.pdb
*.tlog
*.idb
*.manifest
*.res
*.lastbuildstate
*.rc
*.pyc
*.suo
*.log
*.swp
cscope.*
tags
.git/
*.opendb
*.db
vs2015/
bin/
vendor/
lib/
github.com/
